// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  background: #F4F4F4;
  color: white;
  background-image: url("https://images.pexels.com/photos/1737780/pexels-photo-1737780.jpeg?cs=srgb&dl=lighted-string-lights-hanging-1737780.jpg&fm=jpg");
}

h1, h3 {
    font-family: 'Shadows Into Light', cursive;
}

body a {
  color: white;
}

body a:hover {
  color: #d3d3d3;
  text-decoration: none;
}

.header-text a {
  text-decoration: none;
  color: #514950;
}

.header-text a:hover {
  text-decoration: none;
  color: black
}

.header {
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-text {
  padding: 5px;
  font-family: 'Shadows Into Light', cursive;
  color: #514950
}

.header-text p {
  margin-top: 16px;
  margin-right: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  flex-grow: 1;
  padding: 15px 0px;
}

.card {
  background-size: cover;
  background-position: center;
  height: 320px;
  width: auto;
  border-radius: 1px;
  box-shadow: 5px 10px 10px rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-text {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding: 25px;
}

.card a {
  text-decoration: none;
}

.card a:hover {
  color: white;
  font-size: 2.75rem;
  transition: 0.5s;
}
